<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="su.harbour.hdcalcul"
      android:versionCode="1"
      android:versionName="1.5">
   <uses-sdk android:minSdkVersion="11" />
   <application android:label="hdcalcul"
         android:name="su.harbour.hdcalcul.MainApp">
      <activity android:name="MainActivity"
         android:label="hdcalcul">
         <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
      </activity>
      <activity android:name="su.harbour.hdcalcul.DopActivity" android:label="2" />
   </application>
   <uses-permission android:name="android.permission.INTERNET" />
</manifest>